*.o
*.obj
*.exe

*.lib
*.dll
*.so
*.dylib

*.exe
*.out

*.pdb
*.ilk
*.idb

build/
CMakeFiles/
CMakeCache.txt
examples/
test/_test_results/
*.o
*.a
*.so
*.dylib
*.dll
cmake-build-*/
x64/Debug/
x64/Release/
Debug/
Release/

.vscode/
*.vs/
*.user
*.suo

*.tlog
*.log
*.pch

*.vcxproj
*.vcxproj.filters
*.sln

*.tmp
*.bak
*~
Thumbs.db

load_test_hashtable.txt
load_test_unorderedmap.txt
output_load_test_hashtable.txt
output_load_test_unorderedmap.txt
load_test_bfs_unweighted_graph.txt
load_test_coloring_unweighted_graph.txt
load_test_dfs_unweighted_graph.txt
load_test_bfs_singleweighted_graph.txt
load_test_coloring_singleweighted_graph.txt
load_test_dfs_singleweighted_graph.txt